*{
    margin: 0px;
    padding: 0px;
    border: none;;

}
body{
    background-color: rgb(161, 161, 161);
    display: flex;
    align-items: center;
    flex-direction: column;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.caixaGeral{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.caixaComando{
    border: 3px solid rgb(226, 86, 86);
    background-color: rgb(83, 83, 83);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.562);
    border-radius: 10px;
    width: 35vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.caixaEscolhido{
    border: 3px solid rgb(226, 86, 86);
    background-color: rgb(83, 83, 83);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.562);
    border-radius: 25px;
    width: 35vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.time{
    border: 3px solid rgb(230, 187, 48);
    color: rgb(240, 228, 205);
    border-radius: 7px;
    font-size: 2em;
    width: 90%;
    height: 80px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Botao{
   box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.562);
   border: 3px solid rgb(226, 86, 86);
   color: rgb(240, 228, 205);
   background-color: rgb(143, 141, 141);
   cursor: pointer;
   margin: 5px;
   border-radius: 5px;
   width: 17vw;
   height: 30px;
}
.Botao:hover{
    border: 3px solid rgb(172, 1, 1);
    background-color: rgb(83, 83, 83);
    color: rgb(245, 203, 125);
    width: 18vw;
    height: 34px;
}
.caixaPontuacao{
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.562);
    border: 3px solid rgb(226, 86, 86);
    background-color: rgb(83, 83, 83);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pontuacaoTotal{
border: 5px solid rgb(248, 194, 94);
background-color: rgb(71, 70, 70);
box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.466);
color: rgb(235, 148, 108);
font-size: 2em;
margin: 40px;
width: 200px;
height: 200px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.selecionado01{
    background-color: rgb(65, 62, 62);
    border: 3px solid rgb(230, 144, 17);
    color: rgb(231, 153, 7);
    width: 85%;
    height: 75px;
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.514);

}
.selecionado02{
    background-color: rgb(65, 62, 62);
    border: 3px solid rgb(230, 144, 17);
    color: rgb(231, 153, 7);
    width: 85%;
    height: 75px;
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.514);

}
.selecionado03{
    background-color: rgb(65, 62, 62);
    border: 3px solid rgb(230, 144, 17);
    color: rgb(231, 153, 7);
    width: 85%;
    height: 75px;
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.514);

}

